%iframe{ src: facebook_post_url(post),
        width: "100%",
        height: "524",
        style: "border:none;overflow:hidden",
        scrolling: "no", frameborder: "0",
        allowTransparency: "true" }
