%footer
  %hr/
  .container
    %p.float-left
      Egyptian Geeks public posts.
    %ul.nav.list-inline.float-right
      %li.nav-item.list-inline-item
        %a.nav-link.active{:href => "https://www.facebook.com/groups/egyptian.geeks/"}
          = icon "facebook"
          Facebook
      %li.nav-item.list-inline-item
        %a.nav-link.active{:href => "https://github.com/egyptian-geeks"}
          = icon "github"
          Github
    .clearfix
  %br/
