%footer
  %hr/
  .container
    %p
      Egyptian Geeks public posts.
      %br/
    %ul.nav
      %li.nav-item
        %a.nav-link.active{:href => "https://www.facebook.com/groups/egyptian.geeks/"}
          = icon "facebook"
          Facebook
        %a.nav-link.active{:href => "https://github.com/egyptian-geeks"}
          = icon "github"
          Github
