%footer
  %hr/
  .container
    %p
      Egyptian Geeks public posts.
      %br/
    %ul.nav
      %li.nav-item
        %a.nav-link.active{:href => "https://www.facebook.com/groups/egyptian.geeks/"}
          %i.align-middle{"data-feather" => "facebook"}
          Facebook
        %a.nav-link.active{:href => "https://github.com/egyptian-geeks"}
          %i.align-middle{"data-feather" => "github"}
          Github
